<div class="interactive-wrapper" id="stateTargets">
    <div id="outer-wrapper" class="showcase">
			<div class="row">

			<div class='figureTitle' id="chartTitle">When might we reach <b style="color:#2171b5">80%</b> and <b style="color:#ef3b2c">90%</b> boosters if the current rollout rate continues?</div>
			<div class='subTitle' id="subTitle">Based on the current dosing interval between second and booster doses for each state or territory. Dates where jurisdictions have achieved a target are based on the actual vaccination data date, not the date of reporting</div>
			<div class='notes' id='chartKey'>
				<div id="toggle">Toggle: <span class="btn blue-button-selected" id="seventyButton">80% booster</span> <span class="btn red-button-selected" id="eightyButton">90% booster</span> 
					<div id="keyContainer"></div>
			</div>
			
			</div>
			<div class="row borderBottom chartSans" id="graphicContainer">	

			</div>
			<div class='footer offset'>
				<div id="footerAnnotations">

				</div>	
				
				<span id="footnote"></span> Guardian graphic <span id="sourceText"> | Sources: Department of Health data extracted by Ken Tsang, Guardian analysis</span>
			</div>	
			
	</div>
</div>