<div class="interactive-wrapper" id="stateTargets">
    <div id="outer-wrapper" class="showcase">
			<div class="row">

			<div class='figureTitle' id="chartTitle">When might we reach the <b style="color:#2171b5">70%</b> and <b style="color:#ef3b2c">80%</b> vaccination targets if the current rollout rate continues?</div>
			<div class='subTitle' id="subTitle">Based on the current seven day average of second doses for each state or territory.</div>
			<div class='notes' id='chartKey'>
				<div id="toggle">Toggle: <span class="btn blue-button-selected" id="seventyButton">70% target</span> <span class="btn red-button-selected" id="eightyButton">80% target</span>
				<div id="keyContainer"></div>
			</div>
			
			</div>
			<div class="row borderBottom chartSans" id="graphicContainer">	

			</div>
			<div class='footer offset'>
				<div id="footerAnnotations">

				</div>	
				
				<span id="footnote"></span> Guardian graphic <span id="sourceText"> | Sources: Department of Health data extracted by Ken Tsang, Guardian analysis</span>
			</div>	
			
	</div>
</div>